main {
   display: flex;
   flex-direction: column;
   height: 100vh;
   padding: 0 2rem;
   padding-top: 10vh;
   overflow: auto;

   & section {
      display: flex;
      width: 90vw;
      height: 100vh;
      gap: 1rem;
   }
}
