/*---- fonts ----*/
@import url("https://fonts.googleapis.com/css2?family=Orbit&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
   --text: #f3fcf3;
   --background: #040c03;
   --primary: #3b3486;
   --secondary: #864af9;
   --accent: #E99725;
   --text-color:  rgb(219, 219, 224);
   --text-color-gray: #A59C9C;
   --gradient: linear-gradient(90deg, #9729B0 0%, #FD81A5 15%, #FAFA87 65%);

   --font-title: "Rubik", serif;
   --font-text: "Orbit", serif;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: var(--font-text);
   color: var(--text);
   background-color: none;
}

body {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: var(--background);
}

a {
   color: var(--accent);
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: .8px;
}
